build --workspace_status_command build/print_workspace_status.sh
build --stamp
build --experimental_convenience_symlinks=ignore

# The same list of go build tags must be in four places:
# - Makefile
# - Workspace
# - .bazelrc
# - .golangci.yml
build --define gotags=tracer_static,tracer_static_jaeger

test --test_output=errors
test --test_verbose_timeout_warnings
test --test_env=KUBE_PATCH_CONVERSION_DETECTOR=true
test --test_env=KUBE_CACHE_MUTATION_DETECTOR=true
